@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Colors */
  --color-black1: #141414;
  --color-black2: #4f4f4f;
  --color-black3: #797979;

  --color-blue1: #254ea0;
  --color-blue2: #2e62d4;
  --color-blue3: #e6efff;

  --color-gray1: #cecece;
  --color-gray2: #d1d1d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}